<app-nav></app-nav>

<div class="body">

<div class="mainHeader">
  <h1 class="main-title" >Angular Search Location - Leaflet</h1>
</div>

<div class="searchLongLat">
  <form class="example-form">
    <p>-34.920330326960325</p>
  <p>138.6076944690101</p>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Latitude</mat-label>
        <input matInput placeholder="39.8282" [(ngModel)]="Latitude" [ngModelOptions]="{standalone: true}" />
      </mat-form-field>

    </div>
    <div>
   <mat-form-field class="example-full-width">
    <mat-label>Longitude</mat-label>
    <input matInput placeholder="-98.5795" [(ngModel)]="Longitude" [ngModelOptions]="{standalone: true}" />
  </mat-form-field>
  </div>
    <button mat-flat-button color="primary" type="button" (click)="Onclick()" clickable>Search</button>

  </form>
</div>

<!-- <div *ngIf="search"> -->

<div class="map-container" >
  <div class="map-frame" >
    <div id="showMap"  ></div>
  </div>
<!-- </div> -->
</div>

<br />
<div >
  Long - {{ Longitude }}
  <br/>
  Lat - {{Latitude}}
</div>
</div>
